@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body{
 font-family: 'Lato', sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
}
.logo{
    position: relative;
    left: 126px;
}
.logo a{
    font-size: 45px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 500;
}
.nav{
    position: relative;
    right: -3px;
}
.nav i{
    font-size: 24px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none; 
    background-color: #e3117c; 
    padding: 4px 12px; 
    border-radius: 5px;
}
header{
    padding: 30px 0px;
    position: absolute;
}
.bg-img{
    background-image: url('../image/b1.jpg');
    height: 635px;
    background-size: cover;
    background-color: #e3117c;
    padding: 230px 0px;
    }
.img-header h5 {
    font-size: 21px;
    color: #ddd;
    letter-spacing: 5.5px;
    font-weight: 500;
}
.img-text h4 {
    font-size: 67px;
    color: #ddd;
    letter-spacing: 5.5px;
    font-weight: 300;
}
.img-end p{
    font-size: 21px;
    letter-spacing: 4px;
    color: #ddd;
}
.img-text{
    margin: 34px 0px 34px;
}
.side-menu{
    position: fixed;
    right: 0px;
    z-index: 3;
    bottom: 220px;
    height: 333px;
    background:#0D1326;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}
.side-top a{
    color: #8f95a8;
    text-decoration: none;
}
.side-top{
    border-bottom: 1px solid #8f95a8;
    padding: 25px;
    text-align: center;
}
.side i{
    display: block;
    margin: 10px;
    color: #8f95a8;
}
.side a{
    color: #8f95a8;
    text-decoration: none;
}
.side-bottom{
    padding: 15px 0;
    
}
.side{
    text-align: center;
    padding: 10px;
    font-size: 14px;
}
.main-intro{
    color: #e3117c;
    font-size: 44px;
    font-weight: 400;
}
.intro{
    padding: 100px;
}
.main-intro{
    margin: 0px;
    padding: 0px;
}
.main-text p{
    color: #000;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin: 1.5em 0 1em 0;
    letter-spacing: 1px;
}
.main-text1 p{
    line-height: 28px;
    letter-spacing: 1.5px;
    font-size: 15px;
}

.intro-img img {
    width: 100%;
}
.bottom-row{
    margin-top: 17px;
}
.services-title h1{
    text-align: center;
    font-weight: bold;
    color: white;
}
.services-title{
    margin: 50px 0px;
}
.services-oilmassage{
    position: relative;
    padding: 15px;
    text-align: center;
    background-color: white;
    }
.services-oilmassage p{
    padding: 6px 25px;
}
.services-skinscrub{
    position: relative;
    padding: 15px;
    text-align: center;
    background-color: #e3117c;
    margin-top: 25px;
    }
.services-skinscrub p{
    padding: 6px;
}
.services-bodywrap{
    position: relative;
    padding: 15px;;
    text-align: center;
    background-color: white;
    margin-top: 25px;
    }
.services-bodywrap p{
    padding: 6px 25px;
}
.services{
    background-image: url(../image/g5.jpg) ;
}
    
.services-dryer{
    position: relative;
    padding: 30px 29px;
    background-color: #e6adbc;
    margin-bottom: 30px;
    }
.cut{
    padding-bottom: 12px;
}
.cut i{
    font-size: 27px;
}
.cut i:hover{
    color: white;
    transition: 0.5s all;
}
.services-dryer p{
    line-height: 33px;
    letter-spacing: 1px;
}
.services-cut{
    position: relative;
    padding: 30px 29px;
    background-color: #add8e6;
    }
.diamond{
    padding-bottom: 12px;
}
.diamond i{
    font-size: 27px;
}
.diamond i:hover{
    color: white;
    transition: 0.5s all;
}
.services-cut p{
    line-height: 33px;
    letter-spacing: 1px;
}
.services-shaving{
    position: relative;
    padding: 30px 29px;
    background-color: #f64a5f;
    }
.magic{
    padding-bottom: 12px;
}
.magic i{
    font-size: 27px;
}
.magic i:hover{
    color: white;
    transition: 0.5s all;
}
.services-shaving p{
    line-height: 33px;
    letter-spacing: 1px;
}
.services-coloring{
    position: relative;
    padding: 30px 29px;
    background-color: #b1e6ad;
    margin-bottom: 30px;
    }
.shield{
    padding-bottom: 12px;
}
.shield i{
    font-size: 27px;
}
.shield i:hover{
    color: white;
    transition: 0.5s all;
}
.services-coloring p{
    line-height: 33px;
    letter-spacing: 1px;
}
.gallery-title h1{
    text-align: center;
    font-weight: bold;
    color: black;
}
.gallery-img img{
    width: 100%;
    
}
.gallery-text{
    text-align: center;
}
.gallery-text h4{
    font-size: 22px;
    color: #e3117c;
    padding-top: 15px;
    letter-spacing: 2px;
}
.gallery-text p {
    letter-spacing: 2px;
}
.gallery-text{
    background-color: #ddd;
    padding: 5px 0px;
}
.gallery .col-3 {
    padding-bottom: 20px;
    padding-left: 18px;
}
.gallery {
    padding: 70px 0px;
}
.gallery-title{
    margin-bottom: 30px;
}
.gallery-img {
    overflow: hidden;
}
.gallery-img img {
    transition: transform .5s ease;
  }
.gallery-img:hover img {
    transform: scale(1.5);
  }